body{
    background-color: aquamarine;
}
#score{
    font-size: 25px;
    margin-right: 800px;
}
#time{
    font-size: 25px;
}
#SketchtbDrawn{
    color:darkorange;
    font-size: 25px;
    font-weight: bold;
}